<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle Pedido</title>
</head>
<body>
	
	<h2>Página del pedido <span th:text="${pedido.idPedido}"></span></h2>
	<br/>
	<table>
		<tr>
			<th>Id del Cliente</th>
			<th>Nombre</th>
			<th>Apellido 1</th>
			<th>Apellido 2</th>
			<th>Categoría</th>
		</tr>
		<tr>
			<td th:text="${pedido.idPedido}"></td>
			<td th:text="${pedido.total}"></td>
			<td th:text="${pedido.fecha}"></td>
			<td th:text="${pedido.comercial.idComercial}"></td>
			<td th:text="${pedido.comercial.nombre}"></td>
			<td th:text="${pedido.cliente.idCliente}"></td>
			<td th:text="${pedido.cliente.nombre}"></td>
		</tr>
	</table>
	<br/>
	<button><a th:href="@{/pedido}">Volver a página de cliente</a></button>
	<br/>
	<button><a th:href="@{/}">Volver a la home</a></button>
</body>
</html>